<style>
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
</style>


<%= render "shared/header"%>
<div class="main", id="main">
  <div class="list-name">
    -contents-
  </div>
  <div class="content">
    <ul class="tweet-list">
      <% @tweet.each do |tweet|%>
        <li class="list">
          <div class="tweet-info">
            <div class="tweet-title">
              <%= link_to ":#{tweet.title}:", tweet_path(tweet.id) %>
            </div>
          </div>
          <div class="tweet-image-content">
            <div class="tweet-images">
              <% if tweet.images.count > 0 %>
                <div class="images-view"><%= link_to image_tag(tweet.images.first,class:'images'), tweet_path(tweet.id)  %></div>
              <% end %>
            </div>
          </div>
          <div class="tweet-user-name">
            <div class="user-name">
            <%= link_to ":from#{tweet.user.nickname}:", user_path(tweet.user_id), class: "user-show"%>
            </div>
            <div id="index_like_<%= tweet.id %>">
              <%= render 'likes/like', tweet: tweet %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

