<div class="tweet-post-contents">
  <div class="contents-main">
    <p class="info">Please enter the information</p>
    <p class="attention">※Please fill in all the information<p>
    <%= form_with model: @tweet, class: 'form', local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="img-upload">
      <div class="weight-bold-text">
        IMAGE
      </div>
      <div class="click-upload">
        <p>
          Image Upload
        </p>
        <%= f.file_field :images, name: 'tweet[images][]', id:"tweet-image" %>
        <div id="image-list"></div>
      </div>
      <%#= image_tag @item.image, id: 'image' if @item.image.present? %> 
    </div>
    <div class="new-post">
      <div class="title">
        TITLE
      </div>
      <%= f.text_area :title, class:"items-text", id:"tweet-title",  maxlength:"40" %>
      <div class="tweet-content">
        <div class="content-text">
          CONTENT
        </div>
        <%= f.text_area :text, class:"tweet-text", id:"tweet-info", rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <% end %>
  </div>
</div>