 <style>
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
</style>

 
<div class="show-tweet"> 
  <div class="content-line">
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  </div>
  <div class="show-tweet-contents">
    <div class="show-tweet-title">
      <%= "#{@tweet.title}"%>
    </div>
  </div>
  <div class="content-line">
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
    <% unless @tweet.images.first == nil %>
      <div class="swiper-slide"><%= image_tag @tweet.images.first , class:"show-image"%></div>
    <% end %>
    <% unless @tweet.images.second == nil%>
      <div class="swiper-slide"><%= image_tag @tweet.images.second, class:"show-image"%></div>
    <% end %>
    <% unless @tweet.images.third == nil%>
      <div class="swiper-slide"><%= image_tag @tweet.images.third, class:"show-image"%></div>
    <% end %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="content-line">
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  </div>
  <div class="show-tweet-contents">
    <div class="show-tweet-text">
      <%= @tweet.text%>
    </div>
  </div>
  <div class="content-line">
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  </div>
  <div class="page-foot">
    <div class="tweet-show-userinfo">
      <div class="tweet-show-end">
      <%= "B-info from:#{@tweet.user.nickname}"%>
      </div>
      <div id="show_like_<%= @tweet.id %>" class="likes-view">
        <%= render 'likes/like', tweet: @tweet %>
      </div>
    </div>
    <div>
      <% if current_user.id == @tweet.user_id%>
        <div class="tweet-edit-btn">
        <%= link_to "<<EDIT>>", edit_tweet_path(@tweet.id), class: "tweet-edit-link"%>
        </div>
      <% end %>
      <div class="tweetback-btn-div"><%=link_to '>>EXIT<<', root_path, class:"user-back-btn" %></div>
      <% if current_user.id == @tweet.user_id%>
      <div class="tweetdelete-btn-div"><%= link_to '>>DELETE<<', tweet_path(@tweet.id), method: :DELETE, data: { confirm: '削除しますか？' }, class:"tweet-delete-btn" %></div>
      <% end %>
    </div>
  </div>
  <div class="content-line">
  ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  </div>

  <div class="content-line">
  :::::::::::::::::::::::::::::::::::::::USERS-COMMENT::::::::::::::::::::::::::::::::::::::::
  </div>
  <div class="row">
    <% if user_signed_in? %>
      <div class="comment-create">
        <%= render partial: 'comments/form', locals: { comment: @comment, tweet: @tweet } %>
      </div>
    <% end %>
    <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
  </div>
</div>