<style>
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
</style>


<div class="userinfo-separate">
  <div class="user-info-title">
    ::USERINFO::
  </div>
  <div class="user-info">
    <div class="user-nickname">
      <%= "NICKNAME >> :#{@user.nickname}"%>
    </div>
    <div class="user-birthday">
      <%= "BIRTHDAY >> :#{@user.birthday}"%>
    </div>
    <div class="showbtn-flex">
    <% if current_user.id == @user.id %>
      <div class="user-edit-info">
        <%= link_to '<<EDIT>>', edit_user_path(@user.id), class: 'edit' %>
      </div>
    <% end %>
      <div class="userback-btn-div"><%=link_to '>>EXIT<<', root_path, class:"user-back-btn" %></div>
    </div>
    <div class="user-profile-title">
      :::::::::::::::::PROFILE:::::::::::::::::::
    </div>
    <div class="user-profile">
      <%= @user.profile%>
    </div>
    <div>
      :::::::::::::::::::::::::::::::::::::::::::::::::
    </div>
   
  </div>
</div>

<div class="show-main">
  <div class="user-profile-damy">
  </div>
  <div class="user-tweets">
    <div class="user-contents-title">
      -contents-
    </div>
    <ul class="user-tweet-list">
      <% @tweets.each do |tweet|%>
        <li class="list">
          <div class="showtweet-info">
            <div class="showtweet-title">
              <%= link_to ":#{tweet.title}:", tweet_path(tweet.id) %>
            </div>
          </div>
          <div class="showtweet-image-content">
            <div class="showtweet-images">
              <% if tweet.images.count > 0  %>
                <div><%= link_to image_tag(tweet.images.first, :size => '800x800' ,class:'showimages'), tweet_path(tweet.id)  %></div>
              <% end %>
            </div>
          </div>
          <div class="showtweet-user-name">
            <div class="showuser-name">
            <%= "from :#{tweet.user.nickname}:" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <div>


</div>