<style>
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
</style>

<div class="show-main">
  <div class="user-maininfo">
    <div class="info-title">
      :USERINFO::
    </div>
    <div class="user-edit">
      <%= link_to '<<EDIT>>', edit_user_path(@user.id), class: 'edit' %>
    </div>
    <div class="user-nickname">
      <div>-name</div>
      <%= "#{@user.nickname}"%>
    </div>
    <div class="user-birthday">
      <div>-BIRTHDAY</div>
      <%= "#{current_user.birthday}"%>
    </div>
  </div>
  <div class="user-tweets">
    <div class="user-contents-title">
      -contents-
    </div>
    <ul class="user-tweet-list">
      <% @tweets.each do |tweet|%>
        <li class="list">
          <div class="tweet-info">
            <div class="tweet-title">
              <%= ":#{tweet.title}:" %>
            </div>
          </div>
          <div class="tweet-image-content">
            <div class="tweet-images">
              <% tweet.images.each do |image| %>
                <%= image_tag image, :size => '800x800' ,class:'images' %>
              <% end %>
            </div>
          </div>
          <div class="tweet-user-name">
            <div class="user-name">
            <%= "from :#{tweet.user.nickname}:" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <div>


</div>