<%= form_with model: @user, url: user_session_path, class: 'session-main', local: true do |f| %>


<style>
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
</style>

<div class="login-form">
  <div class="page-name">
    <span>LOGIN</span>
  </div>

  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="email-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"session-email-form"%>
    </div>

    <div class="pass-field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"session-pass-form" %>
    </div>

    <%# if devise_mapping.rememberable? %>
      <%#div class="field">
        <%= f.check_box :remember_me, class: "check-box" %>
        <%#= f.label :remember_me %>
      <%#%div>
    <%# end %>

    <div class="actions">
      <%= f.submit "Log in", class:"login-btn" %>
    </div>
  <% end %>
<div>
<% end %>